@model IEnumerable<Domain.Skill>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkillList</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create new skill", "CreateSkill")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Skill", new { id = item.SkillId })
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSkill", new{ SkillId = item.SkillId })
                    @using (Html.BeginForm())
                    {
                        <input type="hidden" name="SkillId" value="@item.SkillId">
                        <input type="submit" value="Delete">
                    }
                </td>
            </tr>
        }

    </table>
</body>
</html>
