@model IEnumerable<Domain.Specialization>

<!DOCTYPE html>

<html>
<head>
        <link rel="stylesheet" type="text/css" media="screen" href="~/Content/HRLists.css" />
        <meta name="viewport" content="width=device-width"/>
    <title>SpecializationList</title>
</head>
<body>
<div class="list-block">
    <div class="items-container">
        <div class="addbuttoncontainer">
            @Html.ActionLink("Create new specialization", "CreateSpecialization", routeValues: new {}, htmlAttributes: new
            {
                @class = "add"
            })
        </div>
        <div>
            <table class="table">
                <tr>
                    <th>
                        <p>Specializations</p>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                   
                    <tr class =" rowContainer">
                        <td class="lableContainer">
                            @Html.ActionLink(item.Name, "Specialization", new {SkillId = item.SpecializationId})
                        </td>
                        <td>
                            <div class="row">
                                <div class="buttonContainer">
                                    @Html.ActionLink("Position list", "PositionList", routeValues: new
                               {
                                   SpecializationId = item.SpecializationId
                               }
                                        , htmlAttributes: new
                                        {
                                            @class = "edit"
                                        })
                                </div>
                                <div class="buttonContainer">
                                    @Html.ActionLink("Edit", "EditSpecialization", routeValues: new
                               {
                                   SpecializationId = item.SpecializationId
                               }
                                        , htmlAttributes: new
                                        {
                                            @class = "edit"
                                        })
                                </div>

                                <div class="buttonContainer">
                                    @using (Html.BeginForm())
                                    {
                                        <input type="hidden" name="SpecializationId" value="@item.SpecializationId">
                                        <input type="submit" value="Delete" class="delete">
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                }
            </table>
        </div>
    </div>
</div>
</body>
</html>
