<link rel="stylesheet" type="text/css" media="screen" href="~/Content/_Toolbox.css" />
@if (Request.IsAuthenticated)
{
    <ul class="main-menu">
        <li class="my-profile-toolbox-item">@Html.ActionLink("My profile", "../Employee/EmployeeProfile", null, new { @class = "my-profile-toolbox-item-link"})
            <ul class="sub-menu" style="border-bottom-left-radius: 5px; border-bottom-right-radius:5px; ">
                <li class ="first-toolbox-menu-item">@Html.ActionLink("Pass performance review", "../Employee/PerformanceReview", null, new { @class = "item-toolbox-menu-link" })</li>
                <li class ="middle-toolbox-menu-item">@Html.ActionLink("SkillMatrix", "../Employee/SkillMatrix", null, htmlAttributes: new { @class = "item-toolbox-menu-link" })</li>
                <li class ="middle-toolbox-menu-item">@Html.ActionLink("RoadMap", "../Employee/RoadMap", null, htmlAttributes: new { @class = "item-toolbox-menu-link" })</li>
                <li class ="last-toolbox-menu-item">@Html.ActionLink("News", "../Employee/News", null, htmlAttributes: new { @class = "item-toolbox-menu-link"})</li>
            </ul>
@if (HttpContext.Current.User.IsInRole("Mentor") || HttpContext.Current.User.IsInRole("HR"))
{
    <li style="background-color:#63cdd7">
        <p class="sub-menu-name" style="color: #ffffff !important; font-weight: bold !important;">Mentoring ▼</p>
        <ul class="sub-menu" style="border-bottom-left-radius: 5px; border-bottom-right-radius:5px; ">
            <li  class="only-toolbox-menu-item">@Html.ActionLink("Employees", "../Mentor/EmployeeList", null, htmlAttributes: new { @class = "item-toolbox-menu-link" })</li>
        </ul>
    </li>
}
@if (HttpContext.Current.User.IsInRole("HR") )
{

    <li style="background-color:#63cdd7">
        <p class="sub-menu-name" style="color: #ffffff !important; font-weight: bold !important;">HR ▼</p>

        <ul class="sub-menu" style="border-bottom-left-radius: 5px; border-bottom-right-radius:5px; ">
            <li class ="first-toolbox-menu-item">@Html.ActionLink("Employees", "../HR/EmployeeList", null, htmlAttributes: new { @class = "item-toolbox-menu-link" })</li>
            <li class ="middle-toolbox-menu-item">@Html.ActionLink("Skills", "../HR/SkillList", null, htmlAttributes: new { @class= "item-toolbox-menu-link" })</li>
            <li class ="last-toolbox-menu-item">@Html.ActionLink("Specializations", "../HR/SpecializationList", null, htmlAttributes: new { @class = "item-toolbox-menu-link" })</li>
        </ul>
    </li>
}
    </ul>
}
else
{

}